:root {
    --main-color: #D5E1EF;
    --secondary-color: #68778D;
    --third-color: #1F314F;
    --fourth-color: #FFF;
    --main-font: "Outfit",sans-serif;
    --secondary-size: 15px;
    --main-size: 22px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-color);
    height: 100vh;
    width: 100vw;
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 550px;
    background-color:var(--fourth-color);
    border-radius: 15px;
}
.flex-container img{
    border-radius: 10px;
    margin: 20px ;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 16px;
}
.text h1{
    text-align: center;
    line-height: 120%;
    font-weight: 700;
    font-size: var(--main-size);
    margin-top:10px;
    width:250px ;
}
.text p{
    width:270px ;
    text-align: center;
    color: var(--secondary-color);
    line-height: 140%;

}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: var(--secondary-color);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}


